.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  position: absolute;
  width: 100%;
}

.image {
  display: flex;
  max-width: 450px;
}

img {
  width: 100%;
  height: auto;
}

.about {
  margin-top: 4rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  max-width: 520px;
}

.skills {
  font-size: 1.5rem;
  line-height: 3rem;
  margin: 0.25em 0;
  font-weight: 300;
  color: var(--content);
  text-transform: uppercase;
}

.specialization {
  font-size: 2.875rem;
  color: var(--content);
}

.title_wrapper{
  width: max-content;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  position: relative;
}

.title::before,
.title::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: noise-anim 2.5s infinite linear alternate-reverse;
}

.title::before {
  clip: rect(44px, 470px, 50px, 0);
  left: 2px;
  text-shadow: -1px 0 red;
  background: yellow;
}
.title::after {
  left: -2px;
  text-shadow: -1px 0 blue;
  background: yellow;
}

@keyframes noise-anim {
  0% {
    clip-path: inset(40% 0 61% 0);
  }
  20% {
    clip-path: inset(92% 0 1% 0);
  }
  40% {
    clip-path: inset(43% 0 1% 0);
  }
  60% {
    clip-path: inset(25% 0 58% 0);
  }
  80% {
    clip-path: inset(54% 0 7% 0);
  }
  100% {
    clip-path: inset(58% 0 43% 0);
  }
}

.desc {
  font-family: 'Inter';
  font-size: 1.875rem;
  color: var(--content);
  margin: 0.5em 0;
  line-height: 30px;
}

.next {
  font-size: 1.75rem;
  color: var(--project_link);
  font-weight: bold;
  width: 250px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.next svg {
  width: 46px;
  height: 50px;
  padding: 6px 0;
  margin-left: 1.5rem;
  margin-top: 0;
}

.next path {
  fill: var(--project_link);
}

@media screen and (min-width: 801px) {
  .intro {
    flex-direction: row;
    margin-top: 13rem;
  }

  .image {
    display: flex;
    margin-right: 32px;
  }

  .desc {
    width: 90%;
  }

  .title {
    font-size: 5.5rem;
  }

  .skills {
    font-size: 1.25rem;
  }
}
