.postlist {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.post {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 2rem;
}

.page-content {
  margin: auto;
  text-align: center;
}

.notfound {
  text-align: center;
}

.notfound {
  text-align: center;
}
