.post_wrapper {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
}

.post {
  max-width: 650px;
}

.featured_image {
  width: 100%;
  object-fit: contain;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 1em;
}

.post_content {
  margin: 2rem 0;
}

.post_content h3 {
  font-size: 2.75rem;
  font-weight: bold;
  margin: 0.75em 0;
}

.post_content img {
  max-width: 600px;
  height: auto;
  margin: 2.5rem 0;
  display: block;
}

.post_content p {
  font-size: 1.875rem;
  margin: 1em 0;
}

.post_content a {
  font-size: 1.875rem;
}

pre {
  color: black;
  border-radius: 8px;
  margin: 2rem 0;
  font-size: 1.875rem;
  padding: 2rem;
  white-space: pre-wrap;
  background: hsl(30, 80%, 90%);
}

small {
  font-size: 1.5rem;
  margin: 3rem 0;
}

li {
  font-size: 1.875rem;
  margin: 2rem 0;
}

code {
  font-size: 1.5rem;
}
