
.intro {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.image {
  display: flex;
  max-width: 450px;
}

img {
  width: 100%;
  height: auto;
}

.about {
  margin-top: 4rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

.skills {
  font-size: 1.5rem;
  line-height: 3rem;
  margin: 0.25em 0;
  font-weight: 300;
  color: var(--content);
  text-transform: uppercase;
}

.specialization {
  font-size: 2.875rem;
  color: var(--content);
}

.title {
  font-size: 4rem;
  font-weight: bold;
}

.desc {
  font-family: 'Inter';
  font-size: 1.875rem;
  color: var(--content);
  margin: 0.5em 0;
}

.next {
  font-size: 1.75rem;
  color: var(--text);
  font-weight: bold;
  width: 220px;
  margin-top: 2rem;
  padding: 12px 0;
  background: none;
  border: none;
  /* cursor: pointer; */
  display: flex;
  align-items: center;
}

.next svg {
  width: 30px;
  height: 30px;
  margin-left: 1.5rem;
}

.next path {
  fill: var(--text);
}

@media screen and (min-width: 768px) {
  .intro {
    flex-direction: row;
  }

  .image {
    display: flex;
    margin-right: 32px;
  }

  .desc {
    width: 90%;
  }

  .title {
    font-size: 5.5rem;
  }

  .skills {
    font-size: 1.25rem;
  }
}
