main {
  margin-top: 40px;
}

.intro {
  display: flex;
  flex: 1;
  align-items: center;
  will-change: opacity;
}

.image {
  display: flex;
  width: 430px;
  margin-right: 32px;
}

img {
  width: 100%;
  height: auto;
}

.about {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

.skills {
  font-size: 1.25rem;
  line-height: 3rem;
  margin: 0.25em 0;
  color: var(--content);
  text-transform: uppercase;
}

.specialization {
  font-size: 2.875rem;
  color: var(--content);
}

.title {
  font-size: 5.5rem;
  font-weight: bold;
}

.desc {
  font-family: 'Inter';
  font-size: 1.875rem;
  color: var(--content);
  width: 50%;
  margin: 0.5em 0;
}

.next {
  font-size: 1.875rem;
  color: var(--text);
  font-weight: bold;
  width: 200px;
  margin-left: -6px;
  padding: 0;
  background: none;
  border: none;
}
