main {
  margin-top: 40px;
}

.intro {
  display: flex;
  /* justify-content: space-around; */
  flex: 1;
  align-items: center;
}

.image {
  display: flex;
  /* flex: 0.3; */
  width: 400px;
  margin-right: 32px;
}

img {
  width: 100%;
  height: auto;
}

.about {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

.skills {
  font-size: 1.5rem;
  line-height: 3rem;
  margin: 0.25em 0;
  color: var(--content);
  text-transform: uppercase;
}

.specialization {
  font-size: 3rem;
  color: var(--content);
}

.title {
  font-size: 5.5rem;
  font-weight: bold;
}

.desc {
  font-family: 'Inter';
  font-size: 1.875rem;
  color: var(--content);
  width: 60%;
  margin: 0.5em 0;
}

.next {
  font-size: 1.875rem;
  margin: 0.25em 0;
  color: var(--text);
  font-weight: bold;
}

.next:hover {
  cursor: pointer;
  /* text-decoration: underline; */
}

/* p {
  margin: 0.25em;
} */
