.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_text {
  font-size: 2.375rem;
  color: var(--text);
  font-weight: bold;
  margin: 0 2rem;
}

.button_wrapper {
  display: flex;
  align-items: flex-end;
}

.menubar {
  padding: 12px 2rem 0;
}

.menu_button {
  display: none;
}

.menubar_list {
  display: flex;
}

ul {
  padding: 16px;
}

.menubar_link {
  font-size: 6rem;
  color: white;
  margin: 4rem 0;
}

.menubar_link:active,
.menubar_link:hover {
  color: #f2994a;
}

.menubar_close {
  font-size: 3rem;
  border: none;
  color: white;
  background-color: #1a181b;
  padding: 12px;
  display: flex;
  margin-left: auto;
}

.menubar_close:hover {
  text-decoration: underline;
}

.first > path {
  fill: var(--first);
}

.second path {
  fill: var(--second);
}

@media screen and (min-width: 768px) {
  .nav {
    justify-content: space-between;
  }

  .menubar {
    display: none;
    position: absolute;
    top: 0;
    right: -100px;
    width: 35%;
    min-width: 300px;
    padding: 52px 100px 0 3rem;
    min-height: 100vh;
    max-height: 100vh;
    background: #1a181b;
    z-index: 5;
    box-shadow: -40px 0px 80px rgba(0, 0, 0, 0.25);
  }

  .menu_button {
    display: block;
    padding: 12px 16px;
    color: var(--main);
    background-color: var(--text);
    font-size: 2.375rem;
    border: none;
    font-weight: bold;
  }
}
