.selected_works {
  display: flex;
  flex: 1;
  flex-direction: column;
  will-change: opacity;
  width: 100%;
}

.breadcrumb {
  cursor: pointer;
  width: 250px;
}

.inactive {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  color: #7a7a7a;
}

.active {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  color: var(--text);
}

.section_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.main_container {
  display: flex;
}

.main {
  font-size: 4rem;
  font-weight: bold;
  margin: 0.25em 0;
}

.carousel {
  display: none;
}

.left {
  border-color: var(--text);
  transform: rotate(180deg);
  margin-right: 4rem;
}

.carousel path {
  fill: var(--text);
}

.carousel circle {
  stroke: var(--text);
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.project {
  display: flex;
  flex: 0.3;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0rem;
}

.project_screenshot {
  width: 360px;
  height: 300px;
}

.project_name {
  font-size: 2.5rem;
  margin-top: 0.5em;
  font-weight: bold;
}

.project_desc {
  font-size: 1.875rem;
  margin: 0.875em 0;
}

.project_link {
  font-size: 1.75rem;
  color: var(--project_link);
  font-weight: bold;
  width: 150px;
  text-decoration: none;
  padding: 12px 0;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.project_link svg {
  width: 30px;
  height: 30px;
  margin-left: 1.5rem;
}

.project_link path {
  fill: var(--text);
}

.right {
  display: inline-block;
  border: solid;
  border-color: var(--project_link);
  transform: rotate(-45deg);
  border-width: 0 6px 6px 0;
  padding: 3px;
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .main {
    font-size: 5.5rem;
    font-weight: bold;
    margin: 0.25em 0;
  }

  .carousel {
    display: flex;
    align-items: center;
  }

  .projects {
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
  }

  .project {
    margin: 0 3rem 0 0;
  }
}
