.selected_works {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
}

.breadcrumb {
  cursor: pointer;
  width: 250px;
}

.inactive {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  color: #7a7a7a;
}

.active {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  color: var(--text);
}

.section_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_container {
  display: flex;
}

.main {
  font-size: 4rem;
  font-weight: bold;
  margin: 0.25em 0;
}

.projects {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 16px 0px;
  height: auto;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project_screenshot {
  width: 100%;
  height: auto;
}

.project_content {
  display: flex;
  flex-direction: column;
}

.project_name {
  font-size: 2.5rem;
  margin-top: 0.5em;
  font-weight: bold;
}

.project_desc {
  font-size: 1.875rem;
  margin: 0.875em 0;
}

.project_link {
  font-size: 1.75rem;
  color: var(--project_link);
  font-weight: bold;
  width: 175px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.project_link svg {
  width: 46px;
  height: 50px;
  padding: 6px 0;
  margin-left: 1.5rem;
  margin-top: 0;
}

.project_link path {
  fill: var(--text);
}

.right {
  display: inline-block;
  border: solid;
  border-color: var(--project_link);
  transform: rotate(-45deg);
  border-width: 0 6px 6px 0;
  padding: 3px;
  margin-left: 8px;
}

@media screen and (min-width: 801px) {
  .main {
    font-size: 5.5rem;
    font-weight: bold;
    margin: 0.25em 0;
  }

  .projects {
    flex-direction: row;
    justify-content: space-between;
  }
}
