.selected_works {
  display: flex;
  flex: 1;
  flex-direction: column;
  will-change: opacity;
  width: 100%;
}

.breadcrumb {
  display: flex;
  flex: 1;
  align-items: center;
  cursor: pointer;
}

.inactive {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  opacity: 0.7;
  color: var(--content);
}

.active {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
}

.section_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.main_container {
  display: flex;
}

.main {
  font-size: 5.5rem;
  font-weight: bold;
  margin: 0.25em 0;
}

.carousel {
  display: flex;
  align-items: center;
}

.arrow_front {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  border: 2px solid;
  border-color: var(--text);
}

.arrow_back {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 4rem;
  position: relative;
  border: 2px solid;
  border-color: var(--text);
}

.left {
  border-color: var(--text);
  transform: rotate(180deg);
  margin-right: 4rem;
}

.carousel path {
  fill: var(--text);
}

.carousel circle {
  stroke: var(--text);
}

.arrow_right {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  border: solid;
  border-color: var(--text);
  transform: translate(-50%, -50%) rotate(-45deg);
  border-width: 0 6px 6px 0;
  padding: 4px;
}

.projects {
  width: 110%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  align-items: flex-start;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3rem;
}

.project_screenshot {
  width: 400px;
  height: 300px;
}

.project_name {
  font-size: 2.5rem;
  margin-top: 0.5em;
  font-weight: bold;
}

.project_desc {
  font-size: 1.875rem;
  margin: 0.875em 0;
}

.project_link {
  font-size: 1.75rem;
  color: var(--project_link);
  font-weight: bold;
  width: 220px;
  padding: 12px 0;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.project_link svg {
  width: 30px;
  height: 30px;
  margin-left: 1.5rem;
}

.project_link path {
  fill: var(--text);
}

.right {
  display: inline-block;
  border: solid;
  border-color: var(--project_link);
  transform: rotate(-45deg);
  border-width: 0 6px 6px 0;
  padding: 3px;
  margin-left: 8px;
}
