*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --first: #f2994a;
  --second: #bdbdbd;
  --text: #1a181b;
  --main: 'white';
  --content: #d8d8d8;
}

* {
  margin: 0;
  font: 62.5% 'Futura', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg {
  cursor: pointer;
}

ul {
  list-style-type: none;
}
