*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --first: #f2994a;
  --second: #bdbdbd;
  --text: #1a181b;
  --main: #ffffff;
  --content: #3e3d3d;
  --project_link: #1a181b;
  --nav: #f2994a;
}

* {
  margin: 0;
  font: 62.5% 'Futura', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none !important;
  height: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin-top: 40px;
  position: relative;
  width: auto;
}

svg {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #1a181b;
  z-index: 2;
}

button:focus,
a:focus {
  outline: 2px solid orange;
}

.cursor {
  position: absolute;
  background-color: blue;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1.5);
  mix-blend-mode: difference;
}

.active {
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  transform: scale(2.5);
}
