.wrapper {
  max-width: 1140px;
  margin: auto;
}

.container {
  min-height: 100vh;
  width: 100%;
  padding: 0px 2rem;
  background: var(--main);
  color: var(--text);
}

@media screen and (min-width: 769px) {
  .container {
    padding-top: 36px;
  }
}
